// -----------------------------------------------------------------------------
// This file contains styles that are specific to the home page.
// -----------------------------------------------------------------------------
.main {
  color: blue;
  font-size: 30px;
  background: black;
}