// -----------------------------------------------------------------------------
// This file contains all styles related to the main-section of the site/application.
// -----------------------------------------------------------------------------

$textColor: #fff;
$titleFontSize: 60px;
$textFontSize: 22px;

.first {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: relative;
  height: 100vh;
  background: url('../images/main.jpeg') no-repeat;
  background-size: cover;
  z-index: -2;

  &::after {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: -1;
  }

  &__footer {
    margin-bottom: 70px;
  }
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 400px;
  color: $textColor;

  &__title {
    margin: 30px 0;
    font-size: $titleFontSize;
  }

  &__text {
    font-size: $textFontSize;
  }

  &__buttons {
    margin: 100px 0;
  }
}

.action-buttons {
  padding: 10px 20px;

  &__btn {
    display: inline-block;
    margin: 0 15px;
  }
}

.arrow-down {
  padding: 10px;
  overflow: visible;

  &__button {
    width: 20px;
    height: 20px;
    border-right: 6px solid #fff;
    border-bottom: 6px solid #fff;
    border-radius: 4px;
    color: #fff;
    transform: rotate(45deg);

    &:hover {
      cursor: pointer;
    }
  }
}