.our-services {
  padding-top: 170px;
  padding-bottom: 125px;
  background: v(light-brand-clr);

  &__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, auto);
    gap: 30px;
    padding-top: 110px;

    @include respond-below(md) {
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(3, auto);
    }

    @include respond-below(xs) {
      grid-template-columns: repeat(1, 1fr);
      grid-template-rows: repeat(6, auto);
    }
  }
}