.advantage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  &__icon {
    width: 70px;
  }

  &__heading {
    font-size: v(heading-font-size);
    font-weight: 600;
    margin-top: 30px;
    max-width: 260px;
  }

  &__description {
    margin-top: 20px;
    max-width: 260px;
  }
}