// -----------------------------------------------------------------------------
// This file contains all styles related to the arrow-down component.
// -----------------------------------------------------------------------------

.arrow-down {
  width: 20px;
  height: 20px;
  border-right: 6px solid #fff;
  border-bottom: 6px solid #fff;
  border-radius: 4px;
  color: #fff;
  transform: rotate(45deg);
}