// -----------------------------------------------------------------------------
// This file contains all styles related to the button-empty component.
// -----------------------------------------------------------------------------

.button-action {
  text-transform: uppercase;
  padding: 20px 50px;
  background-color: v(brand-clr);
  font-size: 20px;
  color: v(bg-clr);
  border: 4px solid v(brand-clr);

  &:hover {
    cursor: pointer;
  }
}