$hover-text-color: #fff;
$hover-bg-color: #00897b;

.service {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 50px 10px;
  background-color: v(bg-clr);

  &:hover {
    background-color: $hover-bg-color;
    color: $hover-text-color;
    box-shadow: 0px 5px 20px -10px black;
    & .service__read-more {
      border: 2px solid $hover-text-color;
    }
  }

  &__icon {
    width: 60px;
    margin-bottom: 30px;
  }

  &__heading {
    max-width: 270px;
    font-size: v(heading-font-size);
    margin-bottom: 20px;
  }

  &__description {
    max-width: 270px;
    margin-bottom: 40px;
  }

  &__read-more {
    display: block;
    font-size: v(heading-font-size);
    font-weight: bold;
    text-transform: uppercase;
    padding: 15px;
    border: 2px solid v(text-clr);
  }
}