.title {
  text-align: center;

  &__heading {
    max-width: 620px;
    font-weight: bold;
    font-size: v(title-font-size);
    padding-bottom: 30px;
    margin: 0 auto;
  }

  &__caption {
    max-width: 620px;
    margin: 0 auto;
  }
}